/* styles.css */
body {
    font-family: Arial, sans-serif;
    /* background: #f4f4f4; */
    background-image: url('img/istockphoto-1309352410-1024x1024.jpg');
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }

  h2 {
    color: #ff5733;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    background: #ff5733;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .login-btn:hover {
    background: #218838;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
  }

  